<div class ='container'>
    <h1>Welcome to Cesaly's Recipe Box</h1>
    <ul>
        <li>
                <a href="addrecipe/"><button type="button">Add Recipe Here!!</button></a>
                <a href="addauthor/"><button type="button">New Author? Click Here</button></a>
                <a href="login/"><button type="button">Login</button></a>
                <a href="logout/"><button type="button">Logout</button></a>
        </li>
    </ul>


    <ul>
        {% for recipes in data %}
        <li>
        <p><a href="/recipe/{{recipes.id}}/">{{ recipes.title }}</a></p>
        </li>
        {% endfor%}
    </ul>
    
   
</div> 
